body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin: 0%;
    background-color: rgb(228, 240, 255);
}

h1 {
    background-color: rgb(123, 138, 238);
    margin-top: 0%;
    margin: auto;
    padding: 15px;
    color: white;
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
}

a {
    text-decoration: none;
    color:black;
}

a:visited{
    text-decoration: none;
    color:black;
}

main {
    margin-top: 80px;
    margin-bottom: 80px;
}

.gallery {
    margin-left: 20%;
    margin-right: 20%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

article {
    grid-area: "article";
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

article:hover .photo {
    transition: 0.25s;
    grid-area: "article";
    width: 110%;
    margin-left: 0%;
    margin-top: 0%;
    margin-right: 0%;
    margin-bottom: 4.35%;
}

.photo {
    border: solid 4px black;
    border-radius: 10px;
    width: 100%;
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.photo-large {
    border: solid 4px black;
    width: 100%;
}

footer {
    margin: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgb(123, 138, 238);
    margin-top: 0%;
    color: white;
    width: 100%;
}

@media all and (max-width: 1024px) and (orientation: portrait) {

    main {
        margin-top: 120px;
        margin-bottom: 80px;
    }

    .gallery {
        margin-left: 2%;
        margin-right: 2%;
        display: grid;
        grid-template-columns: 1fr;

    }

    article {
        grid-area: "article";
        width: 100%;
        margin: auto;
    }

    article:hover .photo {
        width: 80%;
        margin: auto;
    }

    .photo {
        border: solid 4px black;
        border-radius: 10px;
        width: 80%;
        margin: auto;
    }

    .photo-large {
        border: solid 4px black;
        width: 95%;
    }
}